@font-face {
    font-family: 'Arkhip';
    src: url("fonts/Arkhip_font.ttf") format('truetype')
}

@font-face {
    font-family: 'Prata';
    src: url("fonts/Prata-Regular.ttf") format('truetype')
}
@font-face {
    font-family: 'Manrope';
    src: url("fonts/Manrope.ttf") format('truetype')
}


/* Основные стили */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-x: hidden;
    box-sizing: border-box;
}


.text {
    font-family: 'Manrope';
    font-size: 20px;
    font-weight: 500;
    color: #525252;
}
.bold_text {
    font-family: 'Manrope';
    font-size: 20px;
    font-weight: 600;
    color: #9e9e9e;
}
.title {
    padding-left: 20vw;
    padding-top: 5%;
    font-weight: 500;
    color: #603a28;
    font-size: 40px;
    font-family: 'Prata';
    text-align: left;
    width: auto;
}
.sub_title {
    text-align: left;
    margin-top: 0;
    font-size: 24px;
    margin-left: 0%;
    max-width: auto;
    text-indent: 40px;
    font-family: 'Prata';
    color: #603a28
}
.info_text_1 {
    color: #4f4f4f;
    padding-bottom: 0%;
    font-size: 20px;
    font-weight: 10;
    font-family: 'Manrope';
}
.info_text_2 {
    color: #4f4f4f;
    padding-left: 20vw;
    width: 40vw;
    font-size: 25px;
    font-weight: 10;
    font-family: 'Manrope';
}

.back {
    position: absolute;
    opacity: 0;
    display: flex;
    background-color: #fff;
    width: 98%;
    height: 9%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 98.9vw;
}
.menu {
    margin-left: 40%;
    position: absolute;
    font-family: 'Prata';
    color: #f0f0f0;
    font-size: 22px;
    font-weight: 500;
    display: flex;
    gap: 12%;
    text-align: right;
    width: 60vw;
	z-index: 2;
}
.menu p {
	width: 15%;
}
.menu :hover {
    color: #a65b00;
    text-decoration: underline;
    cursor: pointer;
}
.logo {
    position: absolute;
    padding-left: 5%;
    width: auto;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    font-family: 'Arkhip';
    display: flex;
    gap: 3px;
    align-items: center;
    flex: 1;
	z-index: 2;
}

.fixed_panel {
    opacity: 0;
    top: 0;
    z-index: 5;
    position: fixed;
    width: 98%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    transition: opacity 0.4s ease, transform 0.4s ease;
    transform: translateY(50px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 15px;
}
.fixed_panel p {
    cursor: pointer;
}
.fixed_menu {
	width: 30%;
    font-family: 'Manrope';
    color: #603a28;
    font-size: 20px;
    font-weight: 550;
    display: flex;
    gap: 5%;
    text-align: right;
    padding-right: 3%;
	padding-left: auto;
}
.fixed_menu :hover {
    color: #a65b00;
    text-decoration: underline;
}
.fixed_logo {
    padding-left: 8px;
    font-size: 20px;
    font-weight: 500;
    color: #603a28;
    font-family: 'Prata';
    display: flex;
    gap: 3px;
    align-items: center;
    flex: 1;
}

.main_photo {
    z-index: -1;
}
.main_photo img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.main_section {
	position: relative;
 	width: 100%;
 	margin: 0 0 0 0;
}
.main_text {
	position: absolute;
    font-family: 'Prata';
    color: #fff;
    font-size: 25px;
    width: 53%;
    margin-top: 18%;
	padding: 0 0 0 10%;
	right: 1%;
    text-indent: 0;
    line-height: 35px;
	text-align: right;
}

.widget {
	width: 98vw;
}
.about {
    margin-top: 2%;
    position: relative;
    height: 60vh;
    display: flex;
    width: 90%;
    font-family: 'Manrope';
}
.about div {
    padding-top: 1.5%;
}
.about p {
    color: #4f4f4f;
    padding-top: 0;
    width: 40%;
    margin-left: 23%;
    font-size: 25px;
    font-weight: 1;
    font-family: 'Manrope';
}


.book {
    width: 15vw;
    background-color: #603a28;
    border-radius:10px;
    font-family: 'Manrope';
    font-size: 16px;
    letter-spacing: 0.75px;
    text-align: center;
    padding: 2vh 0 2vh 0;
    transition: 0.3s;
    color: #fff;
    margin-top: 10%;
    margin-left: 6%;
}
.book:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transform: translate(0, -3px);
}

.rooms_info {
    color: #4f4f4f;
    padding-left: 20vw;
    width: 60%;
    font-size: 25px;
    font-weight: 10;
    font-family: 'Manrope';
}
.room_widget {
    margin-top: 10%;
    width: 50%;
    margin-left: 20vw;
}
.rooms {
    padding-top: 3%;
    padding-bottom: 5%;
    position: relative;
    text-align: left;
    width: 100vw;
    background-color: #f0f0f0;
}
.info_r {
    padding-top: 0px;
    margin-left: 7%;
    flex: 1;
    max-width: 30%;
}
.room_info_r {
    text-align: left;
}
.info_l {
    padding-top: 0px;
    margin-right: 0;
    margin-left: auto;
    flex: 1;
    max-width: 30%;
}
.room_info_l {
    text-align: left;
}


.footer {
    margin-top: 6%;
    position: absolute;
    width: 98vw;
}
.footer_gr1 {
    display: flex;
}
.footer_info {
    padding-top: 6%;
    display: flex;
    padding-bottom: 10%;
	width: 50vw;
}
.footer_text a {
    color: #4f4f4f;
}
.footer_text a:hover {
    color: #a65b00;
}
.gr {
    line-height: 10px;
}
.gr.n2 {
    padding-top: 20px;
}
.gr.n2 a {
    text-decoration: none;
}

.low_footer {
    align-items: center;
    position: relative;
    background-color: #261f1b;
    height: 12vh;
    width: 100vw;
}
.low_footer p {
    font-size: 22px;
    font-weight: 500;
}
.map {
	margin-left: 0;
    position: absolute;
    width: 40%;
    max-height: 20vw;
    padding: 0;
    padding-top: 50px;
    padding-left: 0;
    text-align: center;
}
@media (max-width: 992px) {
    .text, .bold_text, .info_text_1, .info_text_2 {
        font-size: 16px;
    }
	
	.fixed_panel {
		display: none;
	}
    .title {
        padding-left: 5vw;
        font-size: 30px;
    }

    .sub_title {
        font-size: 20px;
    }

    .menu {
		display: none;
        margin-left: 0;
        font-size: 18px;
        gap: 5%;
        width: 100%;
        flex-wrap: wrap;
    }

    .menu p {
        width: auto;
    }
	
    .logo {
        font-size: 20px;
        padding-left: 5%;
    }

    .main_photo img {
        height: 50vh; /* Увеличиваем высоту фотографии */
		width: 100vw;
    }
	
    .main_text {
        font-size: 18px;
        width: 80%;
        padding: 0 5%;
        margin-top: 20%;
        line-height: 1.2; /* Уменьшаем межстрочные отступы */
		margin-left: 5%;
		text-align: left;
    }

    .about {
        flex-direction: column;
        height: auto;
        padding-left: 5vw;
        width: 90%;
    }

    .about p {
        width: 90%;
        margin-left: 5%;
    }

    .book {
        width: 80%;
        margin: 5% auto;
        padding: 10px;
    }

    .rooms_info {
        padding-left: 5vw;
        width: 90%;
    }

    .room_widget {
        width: 90%;
        margin: 10% auto;
    }

    .rooms {
        padding: 3% 5%;
    }

    .info_r, .info_l {
        margin: 0;
        width: 100%;
    }

    .footer {
		margin-left: 5%;
        font-size: 14px; /* Уменьшаем шрифт футера */
    }
	.low_footer {
		width: 100vw;
	}
}

@media (max-width: 768px) {
    .text, .bold_text, .info_text_1, .info_text_2 {
        font-size: 16px;
    }
	
	.fixed_panel {
		display: none;
	}
    .title {
        padding-left: 5vw;
        font-size: 30px;
    }

    .sub_title {
        font-size: 20px;
    }

    .menu {
		display: none;
        margin-left: 0;
        font-size: 18px;
        gap: 5%;
        width: 100%;
        flex-wrap: wrap;
    }

    .menu p {
        width: auto;
    }
	
    .logo {
        font-size: 20px;
        padding-left: 5%;
    }

    .main_photo img {
        height: 50vh; /* Увеличиваем высоту фотографии */
		width: 100vw;
    }
	
    .main_text {
        font-size: 18px;
        width: 80%;
        padding: 0 5%;
        margin-top: 20%;
        line-height: 1.2; /* Уменьшаем межстрочные отступы */
		margin-left: 5%;
		text-align: left;
    }

    .about {
        flex-direction: column;
        height: auto;
        padding-left: 5vw;
        width: 90%;
    }

    .about p {
        width: 90%;
        margin-left: 5%;
    }

    .book {
        width: 80%;
        margin: 5% auto;
        padding: 10px;
    }

    .rooms_info {
        padding-left: 5vw;
        width: 90%;
    }

    .room_widget {
        width: 90%;
        margin: 10% auto;
    }

    .rooms {
        padding: 3% 5%;
    }

    .info_r, .info_l {
        margin: 0;
        width: 100%;
    }

    .footer {
        font-size: 14px; /* Уменьшаем шрифт футера */
    }
	.low_footer {
		width: 100vw;
	}
}

@media (max-width: 480px) {
    .text, .bold_text, .info_text_1, .info_text_2 {
        font-size: 14px;
    }

	.fixed_panel {
		display: none;
	}
    .title {
        padding-left: 5vw;
        font-size: 24px;
    }

    .sub_title {
        font-size: 18px;
    }

    .menu {
        font-size: 16px;
        gap: 2%;
    }

    .logo {
        font-size: 18px;
    }

    .main_photo img {
        height: 60vh; /* Еще больше увеличиваем высоту фотографии */
		width: 100vw;
    }

    .main_text {
        font-size: 16px;
        width: 90%;
        padding: 0 5%;
        margin-top: 35%;
		margin-left: 5%;
        line-height: 1.4; /* Еще больше уменьшаем межстрочные отступы */
    }
	.about {
		padding-left: 5vw;
        width: 90%;
	}

    .about p {
        font-size: 18px;
    }

    .book {
        font-size: 14px;
    }

    .rooms_info {
        font-size: 18px;
    }

    .footer {
        font-size: 12px; /* Еще больше уменьшаем шрифт футера */
    }
	.low_footer {
		width: 100vw;
	}
}