@font-face {
    font-family: 'Arkhip';
    src: url("fonts/Arkhip_font.ttf") format('truetype')
}

@font-face {
    font-family: 'Prata';
    src: url("fonts/Prata-Regular.ttf") format('truetype')
}
@font-face {
    font-family: 'Manrope';
    src: url("fonts/Manrope.ttf") format('truetype')
}
/* Основные стили */
/* Основные стили */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-x: hidden;
    display: block;
}

.text, .bold_text, .info_text_1, .info_text_2, .rooms_info {
    font-family: 'Manrope';
    color: #4f4f4f;
}

.title, .sub_title, .logo, .fixed_logo, .main_text, .about p {
    font-family: 'Prata';
    color: #603a28;
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {
    .menu, .fixed_menu {
        gap: 10px;
        padding-left: 0;
    }

    .menu p, .fixed_menu p, .logo p {
        font-size: 12px;
    }

    .logo, .fixed_logo {
        padding-left: 0;
        text-align: center;
    }

    .title {
        padding-left: 5vw;
        padding-top: 10%;
        font-size: 20px;
    }

    .about p, .rooms_info {
        width: 80%;
        margin-left: 10%;
        font-size: 16px;
    }

    .main_text p{
        width: 80%;
        margin-top: 40%;
        text-align: left;
        font-size: 16px;
        padding: 0 10%;
    }

    .main_photo img {
        width: 120%;
        height: auto;
    }

    .footer_info, .room_widget {
        width: 90%;
        margin-left: 5%;
    }

    .map {
        width: 100%;
        height: auto;
    }

    .low_footer {
        height: auto;
        text-align: center;
        padding: 10px 0;
    }
}

/* Медиа-запросы для планшетов */
@media (min-width: 769px) and (max-width: 1024px) {
    .menu, .fixed_menu {
        gap: 5%;
    }

    .menu p, .fixed_menu p, .logo p {
        font-size: 13px;
    }

    .title {
        padding-left: 10vw;
        padding-top: 5%;
        font-size: 28px;
    }

    .about p, .rooms_info {
        width: 70%;
        margin-left: 15%;
        font-size: 20px;
    }

    .main_text {
        width: 70%;
        margin-top: 25%;
		margin-left: 10%;
        font-size: 16px;
		text-align: center
    }
	.main_photo img{
		width: 120vw;
    	height: 70vh;
    	object-fit: cover;
	}

    .footer_info, .room_widget {
        width: 80%;
        margin-left: 10%;
    }
}

/* Медиа-запросы для устройств с высоким разрешением */
@media (min-width: 1025px) {
    .menu, .fixed_menu, .logo p {
        gap: 6%;
    }

    .menu p, .fixed_menu p {
        font-size: 22px;
    }

    .title {
        padding-left: 15vw;
        padding-top: 3%;
        font-size: 32px;
    }

    .about p, .rooms_info {
        width: 60%;
        margin-left: 20%;
        font-size: 22px;
    }
	.main_photo img{
		width: 120vw;
    	height: 70vh;
    	object-fit: cover;
	}
    .main_text {
        width: 60%;
        margin-top: 20%;
        font-size: 12px;
    }

    .footer_info, .room_widget {
        width: 70%;
        margin-left: 15%;
    }
}


.text {
    font-family: 'Manrope';
    font-size: 20px;
    font-weight: 500;
    color: #525252;
}
.bold_text {
    font-family: 'Manrope';
    font-size: 20px;
    font-weight: 600;
    color: #9e9e9e;
}
.title {
    padding-left: 20vw;
    padding-top: 5%;
    font-weight: 500;
    color: #603a28;
    font-size: 40px;
    font-family: 'Prata';
    text-align: left;
    width: auto;
}
.sub_title {
    text-align: left;
    margin-top: 0;
    font-size: 24px;
    margin-left: 0%;
    max-width: auto;
    text-indent: 40px;
    font-family: 'Prata';
    color: #603a28
}
.info_text_1 {
    color: #4f4f4f;
    padding-bottom: 0%;
    font-size: 20px;
    font-weight: 10;
    font-family: 'Manrope';
}
.info_text_2 {
    color: #4f4f4f;
    padding-left: 20vw;
    width: 40vw;
    font-size: 25px;
    font-weight: 10;
    font-family: 'Manrope';
}

.back {
    position: absolute;
    opacity: 0;
    display: flex;
    background-color: #fff;
    width: 98%;
    height: 9%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 98.9vw;
}
.menu {
    margin-left: 40%;
    position: absolute;
    font-family: 'Prata';
    color: #f0f0f0;
    font-size: 22px;
    font-weight: 500;
    display: flex;
    gap: 12%;
    text-align: right;
    width: 60vw;
	z-index: 2;
}
.menu p {
	width: 15%;
}
.menu :hover {
    color: #a65b00;
    text-decoration: underline;
    cursor: pointer;
}
.logo {
    position: absolute;
    padding-left: 5%;
    width: auto;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    font-family: 'Arkhip';
    display: flex;
    gap: 3px;
    align-items: center;
    flex: 1;
	z-index: 2;
}

.fixed_panel {
    opacity: 0;
    top: 0;
    z-index: 5;
    position: fixed;
    width: 98%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    transition: opacity 0.4s ease, transform 0.4s ease;
    transform: translateY(50px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 15px;
}
.fixed_panel p {
    cursor: pointer;
}
.fixed_menu {
	width: 30%;
    font-family: 'Manrope';
    color: #603a28;
    font-size: 20px;
    font-weight: 550;
    display: flex;
    gap: 5%;
    text-align: right;
    padding-right: 3%;
	padding-left: auto;
}
.fixed_menu :hover {
    color: #a65b00;
    text-decoration: underline;
}
.fixed_logo {
    padding-left: 8px;
    font-size: 20px;
    font-weight: 500;
    color: #603a28;
    font-family: 'Prata';
    display: flex;
    gap: 3px;
    align-items: center;
    flex: 1;
}

.main_photo {
    z-index: -1;
}
.main_photo img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.main_section {
	position: relative;
 	width: 100%;
 	margin: 0 0 0 0;
}
.main_text {
	position: absolute;
    font-family: 'Prata';
    color: #fff;
    font-size: 25px;
    width: 53%;
    margin-top: 18%;
	padding: 0 0 0 10%;
	right: 1%;
    text-indent: 0;
    line-height: 35px;
	text-align: right;
}

.widget {
	width: 98vw;
}
.about {
    margin-top: 2%;
    position: relative;
    height: 60vh;
    display: flex;
    width: 90%;
    font-family: 'Manrope';
}
.about div {
    padding-top: 1.5%;
}
.about p {
    color: #4f4f4f;
    padding-top: 0;
    width: 40%;
    margin-left: 23%;
    font-size: 25px;
    font-weight: 1;
    font-family: 'Manrope';
}


.book {
    width: 15vw;
    background-color: #603a28;
    border-radius:10px;
    font-family: 'Manrope';
    font-size: 16px;
    letter-spacing: 0.75px;
    text-align: center;
    padding: 2vh 0 2vh 0;
    transition: 0.3s;
    color: #fff;
    margin-top: 10%;
    margin-left: 6%;
}
.book:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transform: translate(0, -3px);
}

.rooms_info {
    color: #4f4f4f;
    padding-left: 20vw;
    width: 60%;
    font-size: 25px;
    font-weight: 10;
    font-family: 'Manrope';
}
.room_widget {
    margin-top: 10%;
    width: 50%;
    margin-left: 20vw;
}
.rooms {
    padding-top: 3%;
    padding-bottom: 5%;
    position: relative;
    text-align: left;
    width: 100vw;
    background-color: #f0f0f0;
}
.info_r {
    padding-top: 0px;
    margin-left: 7%;
    flex: 1;
    max-width: 30%;
}
.room_info_r {
    text-align: left;
}
.info_l {
    padding-top: 0px;
    margin-right: 0;
    margin-left: auto;
    flex: 1;
    max-width: 30%;
}
.room_info_l {
    text-align: left;
}


.footer {
    margin-top: 6%;
    position: absolute;
    width: 98vw;
}
.footer_gr1 {
    display: flex;
}
.footer_info {
    padding-top: 6%;
    display: flex;
    padding-bottom: 10%;
	width: 50vw;
}
.footer_text a {
    color: #4f4f4f;
}
.footer_text a:hover {
    color: #a65b00;
}
.gr {
    line-height: 10px;
}
.gr.n2 {
    padding-top: 20px;
}
.gr.n2 a {
    text-decoration: none;
}

.low_footer {
    align-items: center;
    position: relative;
    background-color: #261f1b;
    height: 12vh;
    width: 100vw;
}
.low_footer p {
    font-size: 22px;
    font-weight: 500;
}
.map {
	margin-left: 0;
    position: absolute;
    width: 40%;
    max-height: 20vw;
    padding: 0;
    padding-top: 50px;
    padding-left: 0;
    text-align: center;
}
